<!DOCTYPE html>
<html>
	<head>
		<title><%= yield(:title) || "LAPS" %></title>
		<%= stylesheet_link_tag 'event_calendar', 'fullcalendar', 'datepicker' %>
		<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
		<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
		<!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
		<%= stylesheet_link_tag 'custom', :media => 'screen' %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js' %>
		<%= javascript_include_tag 'rails_jquery','fullcalendar', 'gcal', 'jrails', 'datepicker' %>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.js' %>
		<%= active_scaffold_includes %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="container">
		    <%= image_tag("laps1.jpg", :alt => "LASP", :class => "round") %>
			<%= render 'layouts/header' %>
			<section class="round">
				<% flash.each do |key, message| %>
				<%= content_tag(:div, message, :class => "flash #{key}") %>
				<% end %>
				<%= yield %>
			</section>
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
